﻿@model MultiCloud.Models.Cloud

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cloud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloudToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloudToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloudState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloudState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CloudAuth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloudAuth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CloudID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
