﻿@using MultiCloud.Helpers
@model IEnumerable<MultiCloud.Models.CloudFilesView>

@{
    ViewBag.Title = "File của bạn";
}

<div class="panel panel-flat">
    <div class="panel-heading">

    </div>
    <table class="table table-striped media-library table-lg">
        <thead>
            <tr>
                <th><input type="checkbox" class="styled"></th>
                <th>Preview</th>
                <th>Tên</th>
                <th>Kích thước</th>
                <th>Ngày tạo</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
@foreach (var item in Model)
{
            <tr>
                <td><input type="checkbox" class="styled"></td>
                <td>
                    <a href="assets/images/demo/flat/1.png" data-popup="lightbox">
                        <img src="" alt="" class="img-rounded img-preview">
                    </a>
                </td>
                <td><a href="@Url.Action("Download", "Cloud", new { fileid = item.FileID, state = item.CloudState })">@Html.DisplayFor(modelItem => item.FileName)</a></td>
                <td>@Html.DisplayFor(modelItem => item.FileCreateDate)</td>
                <td>
                    <ul class="list-condensed list-unstyled no-margin">
                        <li><span class="text-semibold">Size:</span> @Html.ulongToString(item.FileSize)</li>
                        @*<li><span class="text-semibold">Format:</span> .jpg</li>*@
                    </ul>
                </td>
                <td class="text-center">
                    <ul class="icons-list">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-pencil7"></i> Edit file</a></li>
                                <li><a href="#"><i class="icon-copy"></i> Copy file</a></li>
                                <li><a href="#"><i class="icon-eye-blocked"></i> Unpublish</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-bin"></i> Move to trash</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
            </tr>
}
        </tbody>
    </table>
</div>