﻿@model IEnumerable<MultiCloud.Models.Cloud>

@{
    ViewBag.Title = "Cloud của bạn";
}

<h2>Tài khoản đang kết nối</h2>

<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <div class="thumb">
                <img src="@Url.Content("~/assets/img/plus.png")" alt="">
            </div>
            <div class="caption text-center">
                <h6 class="no-margin"><a href="@Url.Action("DropboxConnect", "Cloud")" class="text-default">Connect Dropbox</a> @*<a href="#" class="text-muted"><i class="icon-three-bars pull-right"></i></a>*@</h6>
            </div>
        </div>
    </div>
@foreach (var item in Model)
{
    <div class="col-lg-3 col-sm-12">
        <div class="thumbnail">
            <div class="thumb">
                <img src="@Url.Content("~/assets/img/cloud/dropbox.png")" alt="">
                <div class="caption-overflow">
                    <span>
                        <a href="@Url.Action("Delete", "Cloud", new { state = item.CloudState })" class="btn border-white text-white btn-flat btn-icon btn-rounded ml-5"><i class="icon-minus3"></i></a>
                    </span>
                </div>
            </div>

            <div class="caption text-center">
                <h6 class="no-margin"><a href="#" class="text-default">ID <strong>@Html.DisplayFor(modelItem => item.CloudState)</strong></a> @*<a href="#" class="text-muted"><i class="icon-three-bars pull-right"></i></a>*@</h6>
            </div>
        </div>
    </div>
    
}
</div>

