﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quản lý MultiCloud</title>
    @Styles.Render("/assets/css/bootstrap.min.css")
    @Styles.Render("/assets/css/core.css")
    @Styles.Render("/assets/css/components.css")
    @Styles.Render("/assets/css/colors.css")
    @Styles.Render("/assets/css/icomoon/styles.css")

</head>
<body class="@ViewBag.bodyClass">
    @Html.Partial("~/Views/Shared/_Menu.cshtml")

    <div class="page-container">
        <div class="page-content">
            <div class="content-wrapper" id="viewstate">
                @RenderBody()
            </div>
        </div>
    </div>

@Scripts.Render("/assets/js/jquery.min.js")@Scripts.Render("/assets/js/bootstrap.min.js")@Scripts.Render("/assets/js/pace.min.js")
@RenderSection("scripts", required: false)

    <script>
    $(document).ready(function () {
        'use strict';
        if ($.support.pjax) {
            $.pjax.defaults.maxCacheLength = 0;
            var container = $('#viewstate');
            $(document).on('click', 'a[data-pjax], [data-pjax] a, .navbar a, .nav li a, a.navbar-brand', function (event) {
                if ($("#viewstate").length == 0 || $(this).hasClass('no-ajax')) {
                    return;
                }
                $.pjax.click(event, { container: container, timeout: 6000, fragment: '#viewstate' });
            });

            $(document).on('pjax:start', function () {
                $(document).trigger("pjaxStart");
            });
            // fix js
            $(document).on('pjax:end', function (event) {
                $(document).trigger("pjaxEnd");
            });
        }

        $(".nav li a").on('click', function () {
            $("#navbar-second-toggle ul li.active").removeClass("active");
            $(this).parent().addClass("active");
        });
    });
    </script>

</body>
</html>
