﻿@using MultiCloud.Helpers

<div class="page-header page-header-inverse">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse navbar-transparent">
        <div class="navbar-header">
            <a class="navbar-brand" data-pjax href="@Url.Action("Index", "Cloud")"><img src="@Url.Content("~/assets/img/logo_light.png")" alt=""></a>

            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
            @*<p class="navbar-text"><span class="label bg-success-400">Premium</span></p>

            <ul class="nav navbar-nav">
                <li><a href="#">Upgrade</a></li>
            </ul>*@

            <div class="navbar-right">
                <ul class="nav navbar-nav">




                    <li class="dropdown dropdown-user">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            @*<img src="assets/images/demo/users/face11.jpg" alt="">*@
                            <span>@Html.Encode(User.Identity.Name)</span>
                            <i class="caret"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                            <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                            <li><a href="#"><span class="badge bg-blue pull-right">26</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                            <li><a href="@Url.Action("Logout", "Account")"><i class="icon-switch2"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->

    @if (ViewBag.HideMenu != true)
    {
    <!-- Page header content -->
    <div class="page-header-content">
        <div class="page-title">
            <h4>MultiCloud - <strong>@ViewBag.Title</strong></h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a>
        </div>

        <div class="heading-elements">
            <ul class="breadcrumb heading-text">
                <li><a href="@Url.Action("Index", "Account")"><i class="icon-home2 position-left"></i> Dashboard</a></li>
                @if (@Html.Action() != null && @Html.Action().ToLower() != "index")
                {
                    <li>@Html.Controller()</li>
                    <li class="active">@Html.Action()</li>
                }
                else
                {
                    <li class="active">@Html.Controller()</li>
                }
               
            </ul>
        </div>
    </div>
    <!-- /page header content -->
    <!-- Second navbar -->
    <div class="navbar navbar-inverse navbar-transparent" id="navbar-second">
        <ul class="nav navbar-nav visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav navbar-nav-material">
                
                <li class="@Html.IsSelected("Account", "Index")"><a href="@Url.Action("Index", "Account")">Account</a></li>
                <li class="@Html.IsSelected("Cloud", "Index")"><a href="@Url.Action("Index", "Cloud")">Your cloud</a></li>
                <li class="@Html.IsSelected("Cloud", "Files")"><a href="@Url.Action("Files", "Cloud")">Your Files</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-nav-material navbar-right">
                <li>
                    <a href="changelog.html">
                        <span class="status-mark status-mark-inline border-success-300 position-left"></span>
                        Changelog
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right">Settings</span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                        <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                        <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /second navbar -->
    }

</div>