﻿@model MultiCloud.Models.RegisterViewUser

@{
    ViewBag.Title = "Đăng ký tài khoản";
    ViewBag.HideMenu = true;
    ViewBag.bodyClass = "login-container";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="panel panel-body">
        <div class="text-center">
            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
            <h5 class="content-group"><strong>Đăng ký</strong> MultiCloud<small class="display-block">Thông tin tài khoản</small></h5>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group has-feedback has-feedback-left">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa chỉ email" } })
            <div class="form-control-feedback">
                <i class="icon-user text-muted"></i>
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation-error-label" })
        </div>

        <div class="form-group has-feedback has-feedback-left">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu" } })
            <div class="form-control-feedback">
                <i class="icon-lock2 text-muted"></i>
            </div>
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation-error-label" })
        </div>

        <div class="form-group has-feedback has-feedback-left">
            @Html.RadioButtonFor(model => model.Gender, false) Nam
            @Html.RadioButtonFor(model => model.Gender, true) Nữ
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "validation-error-label" })
        </div>

        <div class="form-group login-options">
            <div class="row">
                <div class="col-sm-6">

                </div>

                <div class="col-sm-6 text-right">
                    <a href="login_password_recover.html">Quên mật khẩu?</a>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn bg-primary btn-block">Đăng ký tài khoản <i class="icon-arrow-right14 position-right"></i></button>
        </div>

        <div class="content-divider text-muted form-group"><span>hoặc đăng ký bằng</span></div>
        <ul class="list-inline form-group list-inline-condensed text-center">
            <li><a href="@Url.Action("DropboxConnect", "Cloud")" class="btn border-indigo text-indigo btn-flat btn-icon btn-rounded"><i class="icon-dropbox"></i></a></li>
        </ul>

        <div class="content-divider text-muted form-group"><span>Bạn đã có tài khoản?</span></div>
        <a href="@Url.Action("Login","Account")" class="btn bg-pink-400 btn-block content-group">Đăng nhập</a>
    </div>
}